<div class="sidebar p-3 bg-dark text-white mobile-top-padding">
  <h5 class="text-secondary pb-3 text-center">OCR Security System</h5>

  <!-- Main Section -->
  <div class="mb-4">
    <a class="nav-link text-white" routerLink="/registration" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-pencil-square me-2"></i> Registration
    </a>
    <a class="nav-link text-white" routerLink="/register-table" routerLinkActive="active">
      <i class="bi bi-table me-2"></i> Records
    </a>
  </div>

  <!-- Admin Section -->
  <div class="mb-4">
    <h6 class="text-uppercase text-secondary small">Admin</h6>

    <a class="nav-link text-white" routerLink="/dashboard" routerLinkActive="active">
      <i class="bi bi-file-earmark-person me-2"></i> Dashboard
    </a>
    <a class="nav-link text-white" routerLink="/data-viewer" routerLinkActive="active">
      <i class="bi bi-diagram-3 me-2"></i> Guard Management
    </a>

  </div>

  <!-- Social Section -->
  <!-- <div class="mb-4">

    <h6 class="text-uppercase text-secondary small">Social</h6>

    <a class="nav-link text-white d-flex align-items-center justify-content-between" href="https://www.linkedin.com/in/idzhans-khairi" target="_blank">
      <span><i class="bi bi-linkedin me-2"></i> LinkedIn</span>
      <i class="bi bi-arrow-up-right text-secondary small"></i>
    </a>

    <a class="nav-link text-white d-flex align-items-center justify-content-between" href="https://github.com/IdzhansKhairi" target="_blank">
      <span><i class="bi bi-github me-2"></i> Github</span>
      <i class="bi bi-arrow-up-right text-secondary small"></i>
    </a>

    <a class="nav-link text-white d-flex align-items-center justify-content-between" href="https://www.instagram.com/hanspanjat" target="_blank">
      <span><i class="bi bi-instagram me-2"></i> Instagram</span>
      <i class="bi bi-arrow-up-right text-secondary small"></i>
    </a>

  </div> -->
  
</div>
