<div class="sidebar p-3 bg-dark text-white mobile-top-padding">
  <h5 class="text-secondary small pb-3">Muhammad Idzhans Khairi</h5>

  <!-- Home -->
  <div class="mb-4">
    <a class="nav-link text-white mb-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-house me-2"></i> Home
    </a>
  </div>

  <!-- Me Section -->
  <div class="mb-4">
    <h6 class="text-uppercase text-secondary small">Me</h6>
    <a class="nav-link text-white" routerLink="/resume" routerLinkActive="active">
      <i class="bi bi-file-earmark-person me-2"></i> Resume
    </a>
    <a class="nav-link text-white" routerLink="/contact" routerLinkActive="active">
      <i class="bi bi-at me-2"></i> Contact
    </a>
  </div>

  <!-- Social Section -->
  <div class="mb-4">

    <h6 class="text-uppercase text-secondary small">Social</h6>

    <a class="nav-link text-white d-flex align-items-center justify-content-between" href="https://www.linkedin.com/in/idzhans-khairi" target="_blank">
      <span><i class="bi bi-linkedin me-2"></i> LinkedIn</span>
      <i class="bi bi-arrow-up-right text-secondary small"></i>
    </a>

    <a class="nav-link text-white d-flex align-items-center justify-content-between" href="https://github.com/IdzhansKhairi" target="_blank">
      <span><i class="bi bi-github me-2"></i> Github</span>
      <i class="bi bi-arrow-up-right text-secondary small"></i>
    </a>

    <a class="nav-link text-white d-flex align-items-center justify-content-between" href="https://www.instagram.com/hanspanjat" target="_blank">
      <span><i class="bi bi-instagram me-2"></i> Instagram</span>
      <i class="bi bi-arrow-up-right text-secondary small"></i>
    </a>

  </div>
  
</div>
